r.btn-green {
  background-color: #1ab394;
  color: #fff;
  border-radius: 3px;
}

.btn-green:hover, .btn-green:focus {
    background-color: #18a689;
    color: #fff;
}

.panel-footer {
    text-align: center;
    background-color: #fff;
    border-top: none;
}

.form-inline .checkbox input[type="checkbox"], .form-inline .radio input[type="radio"] {
    display: none;
}

.form-inline .checkbox label, .form-inline .radio label {
    background-color: #6b62bd;
    color: white;
    padding: 5px 20px 5px 15px;
    line-height: 2;
    border-radius: 30px;
}

.panel-body {
    text-align: center;
    width: 60%;
    padding-left: 40%;
}

.panel-body h5 {
    font-size: 20px;
}

div#surveyElement2 h5:nth-of-type(1) {
    display:none;
}

.hide {
    display:none;
}

.show {
    display:block;
}

#map {
  width: 50%;
  height: 100%;
  background-color: grey;
  display:inline-block;
  float:right;
}

#postal-code-panel {
  position: absolute;
  top: 100px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#map-left-panel {
  width:50%;
  text-align:center;
  float:left;
}

#left-panel-content {
  top:40%;
  height:100px;
}
