/* Styles that apply to all surveys go here.  They are not prefixed with a survey id */

.panel-footer {
    text-align: center; /* aligns navigation buttons */
    background-color: inherit;
    border-top: none; /* removes the 1px top border */
}

/* Styles that apply to one or more individual surveys go here.  They should be prefixed by the survey elements's id,
 * which is the same as the survey type in the Survey record detail.
 * Survey id prefixes are:
 * div#eligibility - for the eligibility survey
 * div#details
 * div#contact-info
 * div#ineligible-message
 * div#site-finder - for the survey that displays in the left panel when the Map opens
 */

div#site-finder .panel-body, div#eligibility .panel-body {
    text-align: center;
}

div#eligibility .panel-body {
    width: 70%;
    padding-left: 30%;
}

div#details .panel-body {
    width: 80%;
    padding-left: 20%;
}

div#eligibility .panel-body h5 {
    font-size: 20px;
}

div#eligibility .form-inline {
    width: 70%;
    padding-left: 30%;
    font-size: 20px;
    padding-top: 20px;
}

div#details .form-control {
    margin-bottom: 20px;
}

div#details div#sq_page div div:nth-of-type(5) div:nth-of-type(1) .form-inline, div#details div#sq_page div div:nth-of-type(8) div:nth-of-type(1) .form-inline {
    padding-top: 5px;
    width: 30%;
}

div#details div#sq_page div div:nth-of-type(10) div:nth-of-type(1) {
    width: 4% !important;
}

div#details div#sq_page div div:nth-of-type(10) div:nth-of-type(1) span:nth-of-type(2) {
    display: none;
}

div#details div#sq_page div div:nth-of-type(10) div:nth-of-type(2) {
    font-size: .7em !important;
}

div#details div#sq_page div div:nth-of-type(10) div:nth-of-type(2) div {
    width: 100% !important;
}


/* following hides the Question titles of all of the questions in the details survey 
 * then unhides the title for the fourth question which is in the fifth div element of its type on the page 
 */

div#details h5 {
    display:none;
}

div#details div#sq_page.panel-body div div:nth-of-type(8) h5 {
    display:inline;
}

/* General custom styles go here */ 

.hide {
    display:none;
}

.show {
    display:block;
}

#map {
  width: 50%;
  height: 100%;
  background-color: grey;
  display:inline-block;
  float:right;
}

#postal-code-panel {
}

#map-left-panel {
  width:50%;
  height:100%;
  text-align:center;
  float:left;
  overflow:auto;
}

#plugin-eligibility, #site-finder-container, #details-container, #success-container {
  height: 100%;
}

#site-finder-container, #eligibility, #details, #success, #ineligible, #incomplete {
  position:relative;
  height: auto;
}

#ineligible, #incomplete {
  text-align: center;
}

.center-vertically {
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#details-container {
    text-align:left;
}

#site-finder-body {
    padding-bottom: 2vw;
}

#your-nearest-study-center {
    font-size: 150%;
    padding: 2vw 0 2vw;
}

#success-header, #site-finder-header {
    font-size: 2vw;
    padding-bottom: 2vw;
}

hr:nth-of-type(1){
    margin-top: 3vw;
}

hr {
    margin-left: 3vw;
    margin-right: 3vw;
}

#selected-site {
    padding-top: 12vh;
}

#selected-site-name {
    font-size: 1.2em;
}

input[type="submit"] {
    font-family: FontAwesome;
}
